---
import { CollectionEntry, getCollection } from "astro:content";
import LandingPage from "@layouts/landing-page.astro";
import { Icon } from "astro-icon";
import { DateTime } from "luxon";
import { Page } from "@models/index";
import Paginator from "@components/paginator.astro";
import CldImage from "@components/cld-image.astro";

export async function getStaticPaths({ paginate }) {
  const posts = (await getCollection("posts")).sort(
    (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime()
  );
  return paginate(posts, { pageSize: 5 });
}

const page = Astro.props.page as Page<CollectionEntry<"posts">>;
const postsCollection = (await getCollection("posts")).sort(
  (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime()
);

const posts = page.data as typeof postsCollection;
const latestPosts = posts.slice(0, 4);
---

<LandingPage
  title="Posts"
  description="Discover the ultimate TypeScript React blogpost list on my tech blog. Explore articles covering a wide range of tech topics. Stay updated with the latest trends, tips, and tutorials to enhance your TypeScript React skills and stay ahead in the ever-evolving world of technology."
>
  <div class="mb-8 flex flex-col gap-8 lg:flex-row">
    <div class="flex flex-col gap-8">
      <div class="flex basis-1/2 flex-col gap-8">
        {
          posts.map((post) => (
            <article class="bg-elevation flex flex-col rounded-2xl drop-shadow-lg">
              <a
                href={"/posts/" + post.slug}
                class="relative cursor-pointer text-center"
              >
                <CldImage
                  class={"h-[100%] w-[100%] rounded-2xl object-cover"}
                  width={1100}
                  height={1100}
                  alt={post.data.image.alt}
                  src={post.data.image.src}
                />
              </a>
              <div class="flex flex-1 flex-col gap-4 px-6 pb-6 pt-4 md:px-8 md:pb-8 md:pt-6">
                <div class="text-kohan-800 dark:text-kohan-500 flex gap-4 text-sm">
                  <div class="flex items-center gap-2">
                    <Icon
                      class="text-kohan-800 dark:text-kohan-500 h-6 w-6 shrink-0"
                      name="calendar"
                    />
                    <div>
                      {DateTime.fromJSDate(post.data.publishDate).toFormat(
                        "MMM dd, yyyy"
                      )}
                    </div>
                  </div>
                </div>
                <div class="flex flex-col gap-2">
                  <h2 class="dark:text-kohan-500 text-2xl">
                    <a href={"/posts/" + post.slug}>{post.data.title}</a>
                  </h2>
                  <p>{post.data.description}</p>
                </div>
              </div>
            </article>
          ))
        }
      </div>
      <div>
        <Paginator page={page} />
      </div>
    </div>

    <div class="flex basis-1/2 flex-col gap-4 md:flex-row lg:flex-col">
      <!-- <div
        class="mb-4 flex flex-col divide-y-2 divide-kohan-800 dark:divide-kohan-500"
      >
        <h2 class="pb-2 text-2xl dark:text-kohan-500">Latest articles</h2>
        <div class="flex flex-col gap-4 pt-4">
          {
            latestPosts.map((post) => (
              <a class="items-top flex gap-4" href={"/posts/" + post.slug}>
                <CldImage
                  class={"h-16 w-16 rounded-2xl object-cover"}
                  width={75}
                  height={75}
                  alt={post.data.image.alt}
                  src={post.data.image.src}
                />
                <div class="flex flex-col gap-2">
                  <h3 class="dark:text-kohan-500 text-xl">{post.data.title}</h3>
                  <p class="text dark:text-kohan-500/80  text-sm">
                    {DateTime.fromJSDate(post.data.publishDate).toFormat(
                      "MMM dd, yyyy"
                    )}
                  </p>
                </div>
              </a>
            ))
          }
        </div>
      </div> -->
      <div
        class="flex flex-col divide-y-2 divide-kohan-800 dark:divide-kohan-500"
      >
        <h2 class="mb-2 text-2xl dark:text-kohan-500">About me</h2>
        <div class="flex flex-col gap-4 pt-4">
          <div class="flex flex-shrink-0 flex-grow-0 rounded-full">
            <div>
              <CldImage
                alt="Profile"
                width={75}
                class="h-16 w-16 rounded-full border-4 border-kohan-800 dark:border-kohan-500"
                height={75}
                src="kohan-avatar"
              />
            </div>
          </div>
          <p>
            Hi my name is <span
              class="font-bold text-slate-900 dark:text-kohan-500"
              >Piotr Kochanowski</span
            > and i'm a passionate Web developer from Poland. In love with TypeScript
            and static types. Currently working as a Frontend developer at <span
              class="font-bold text-slate-900 dark:text-kohan-500"
              >VirtusLab</span
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
</LandingPage>
